body {
    background-color: rgb(51, 49, 49);
  }
h1 {
    color: rgb(253, 24, 55);
    text-decoration: underline;
    font-size: 32px;
    font-family: 'Brush Script MT', cursive;
  }
h2 {
    color: rgb(255, 24, 55);
    font-size: 28px;
    font-family: 'Brush Script MT', cursive;
  }
p, li {
    color: white;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
  }
a:link {
    color: rgb(255, 0, 106);
    background-color: transparent;
    text-decoration: none;
  }

a:visited {
    color: rgb(56, 162, 248);
    background-color: transparent;
    text-decoration: none;
  }
.bandPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.picButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%
}
.YTvideo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}